body        {margin:0px;}
.studcap    {background-color:#f8f8c7; background-image:url(../all/studcap.png); background-repeat:no-repeat;}
.studcaplit {background-color:#4b4b3f; background-image:url(../all/studcap.png); background-repeat:no-repeat;}
